# Python
__pycache__/
*.pyc
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfstate*
crash.log

# Environment
.env

# Lambda build artifacts
terraform/env/*/artifacts/*.zip

# tfvars (often contains environment values)
terraform/env/*/terraform.tfvars
